{
  "openapi": "3.0.3",
  "info": {
    "title": "ECO HUB KOSOVA API",
    "description": "Comprehensive API for the ECO HUB KOSOVA circular economy marketplace platform. Connect businesses, organizations, and individuals in Kosovo's sustainable economy network.",
    "version": "1.0.0",
    "contact": {
      "name": "ECO HUB KOSOVA Development Team",
      "email": "dev@ecohubkosova.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://ecohubkosova.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cookieAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from authentication endpoints"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session",
        "description": "Session cookie for authenticated requests"
      }
    },
    "schemas": {
      "Listing": {
        "type": "object",
        "required": ["title", "description", "category", "type", "price"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the listing"
          },
          "title": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "description": "Listing title"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "maxLength": 2000,
            "description": "Detailed description of the listing"
          },
          "category": {
            "type": "string",
            "enum": ["materiale", "makineri", "shërbime", "konsultim", "trajnim", "tjerë"],
            "description": "Listing category"
          },
          "type": {
            "type": "string",
            "enum": ["shes", "blej"],
            "description": "Whether offering (shes) or seeking (blej)"
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "description": "Price in EUR"
          },
          "unit": {
            "type": "string",
            "enum": ["cope", "kg", "litër", "orë", "ditë", "javë", "muaj", "projekt"],
            "description": "Unit of measurement"
          },
          "quantity": {
            "type": "number",
            "minimum": 0,
            "description": "Available quantity"
          },
          "location": {
            "type": "string",
            "maxLength": 100,
            "description": "Location within Kosovo"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri",
              "description": "Image URL"
            },
            "maxItems": 10,
            "description": "Array of image URLs"
          },
          "condition": {
            "type": "string",
            "enum": ["new", "used", "refurbished"],
            "description": "Condition of the item"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "sold"],
            "default": "active",
            "description": "Listing status"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the organization creating the listing"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "Organization": {
        "type": "object",
        "required": ["name", "email"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the organization"
          },
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100,
            "description": "Organization name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "description": "Organization description"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "Organization website"
          },
          "address": {
            "type": "string",
            "maxLength": 200,
            "description": "Physical address"
          },
          "phone": {
            "type": "string",
            "pattern": "^\\+383\\d{8,9}$",
            "description": "Kosovo phone number (+383XXXXXXXXX)"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended"],
            "default": "active",
            "description": "Organization status"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "User": {
        "type": "object",
        "required": ["email", "name"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 100,
            "description": "Full name"
          },
          "role": {
            "type": "string",
            "enum": ["user", "admin", "moderator"],
            "default": "user",
            "description": "User role"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "description": "Associated organization ID"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "Article": {
        "type": "object",
        "required": ["title", "content", "category"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the article"
          },
          "title": {
            "type": "string",
            "minLength": 3,
            "maxLength": 200,
            "description": "Article title"
          },
          "content": {
            "type": "string",
            "minLength": 50,
            "description": "Article content in markdown format"
          },
          "excerpt": {
            "type": "string",
            "maxLength": 300,
            "description": "Short excerpt for previews"
          },
          "category": {
            "type": "string",
            "enum": ["ekonomi-qarkulluese", "zhvillim-i-qendrueshem", "inovacion", "politikë", "studime-rasti"],
            "description": "Article category"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10,
            "description": "Article tags"
          },
          "authorId": {
            "type": "string",
            "format": "uuid",
            "description": "Author user ID"
          },
          "published": {
            "type": "boolean",
            "default": false,
            "description": "Publication status"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Publication timestamp"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "details": {
                "type": "object",
                "description": "Additional error details"
              }
            }
          }
        }
      },
      "HealthCheck": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "unhealthy"],
            "description": "Overall health status"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Check timestamp"
          },
          "services": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string",
                "enum": ["healthy", "unhealthy"],
                "description": "Database health status"
              },
              "cache": {
                "type": "string",
                "enum": ["healthy", "unhealthy"],
                "description": "Cache health status"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check endpoint",
        "description": "Check the overall health status of the application and its services",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Application is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheck"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/db": {
      "get": {
        "summary": "Database health check",
        "description": "Check database connectivity and basic operations",
        "tags": ["Health"],
        "responses": {
          "200": {
            "description": "Database is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["healthy"]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Database unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listings": {
      "get": {
        "summary": "Get all public listings",
        "description": "Retrieve paginated list of active marketplace listings with optional filtering",
        "tags": ["Listings"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["materiale", "makineri", "shërbime", "konsultim", "trajnim", "tjerë"]
            },
            "description": "Filter by category"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["shes", "blej"]
            },
            "description": "Filter by listing type"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "description": "Search in title and description"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by location"
          },
          {
            "name": "minPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Minimum price filter"
          },
          {
            "name": "maxPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "description": "Maximum price filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of listings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "listings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Listing"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new listing",
        "description": "Create a new marketplace listing (requires authentication)",
        "tags": ["Listings"],
        "security": [
          {"bearerAuth": []},
          {"cookieAuth": []}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Listing"
              },
              "examples": {
                "product_listing": {
                  "summary": "Create a product listing",
                  "value": {
                    "title": "Materiale ndërtimi të ricikluara",
                    "description": "Ofertojmë materiale ndërtimi të ricikluara me cilësi të lartë për projekte të qëndrueshme.",
                    "category": "materiale",
                    "type": "shes",
                    "price": 150.00,
                    "unit": "kg",
                    "quantity": 500,
                    "location": "Prishtinë",
                    "condition": "new",
                    "images": ["https://example.com/image1.jpg"]
                  }
                },
                "service_listing": {
                  "summary": "Create a service listing",
                  "value": {
                    "title": "Konsultim për ekonomi qarkulluese",
                    "description": "Ofroj shërbime konsultimi për bizneset që duan të kalojnë në ekonomi qarkulluese.",
                    "category": "konsultim",
                    "type": "shes",
                    "price": 100.00,
                    "unit": "orë",
                    "quantity": 20,
                    "location": "Prishtinë"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Listing created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/listings/{id}": {
      "get": {
        "summary": "Get listing by ID",
        "description": "Retrieve a specific listing by its unique identifier",
        "tags": ["Listings"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Listing unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Listing retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update listing",
        "description": "Update an existing listing (requires ownership or admin privileges)",
        "tags": ["Listings"],
        "security": [
          {"bearerAuth": []},
          {"cookieAuth": []}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Listing unique identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Listing"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete listing",
        "description": "Delete a listing (requires ownership or admin privileges)",
        "tags": ["Listings"],
        "security": [
          {"bearerAuth": []},
          {"cookieAuth": []}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Listing unique identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Listing deleted successfully"
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations": {
      "get": {
        "summary": "Get all organizations",
        "description": "Retrieve paginated list of active organizations",
        "tags": ["Organizations"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "description": "Search in name and description"
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create organization",
        "description": "Create a new organization (requires authentication)",
        "tags": ["Organizations"],
        "security": [
          {"bearerAuth": []},
          {"cookieAuth": []}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              },
              "example": {
                "name": "EcoTech Solutions",
                "email": "contact@ecotech-ks.com",
                "description": "Specialized in sustainable technology solutions for Kosovo businesses",
                "website": "https://ecotech-ks.com",
                "address": "Rruga Agim Ramadani, Prishtinë",
                "phone": "+38344123456"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Organization with this email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{id}": {
      "get": {
        "summary": "Get organization by ID",
        "description": "Retrieve a specific organization by its unique identifier",
        "tags": ["Organizations"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Organization unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update organization",
        "description": "Update an existing organization (requires ownership or admin privileges)",
        "tags": ["Organizations"],
        "security": [
          {"bearerAuth": []},
          {"cookieAuth": []}
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Organization unique identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/articles": {
      "get": {
        "summary": "Get published articles",
        "description": "Retrieve paginated list of published knowledge base articles",
        "tags": ["Articles"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["ekonomi-qarkulluese", "zhvillim-i-qendrueshem", "inovacion", "politikë", "studime-rasti"]
            },
            "description": "Filter by category"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "description": "Search in title and content"
          }
        ],
        "responses": {
          "200": {
            "description": "List of articles retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Article"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/articles/{id}": {
      "get": {
        "summary": "Get article by ID",
        "description": "Retrieve a specific published article by its unique identifier",
        "tags": ["Articles"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Article unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Article retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                }
              }
            }
          },
          "404": {
            "description": "Article not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Health",
      "description": "Health check and monitoring endpoints"
    },
    {
      "name": "Listings",
      "description": "Marketplace listing management"
    },
    {
      "name": "Organizations",
      "description": "Organization profile management"
    },
    {
      "name": "Articles",
      "description": "Knowledge base article management"
    }
  ]
}